.scroll-container {
    max-height: 190px; /* Висота контейнера з можливістю скролу */
    overflow-y: auto; /* Вмикаємо вертикальний скролінг */
    /*margin-bottom: 5px;*/
    padding: 5px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
