.square-container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 1900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(255, 255, 255, 1), /* Основная большая тень */
    0 5px 15px rgba(255, 255, 255, 1); /* Дополнительная мягкая тень */
    z-index: 1;
}