.slider-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.slider-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust spacing as needed */
}

.slider-image {
    width: 30px; /* Set the width of the image */
    height: 30px; /* Set the height of the image */
    margin-right: 8px; /* Space between the image and the label */
}

.slider-label {
    margin-right: 35px;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 40px;
}

.slider-range {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.slider-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    font-size: 14px; /* Adjust the font size as needed */
}
