/* Заблюрений фон */
@font-face {
    font-family: 'Karla-Bold';
    src: url('../../../assets/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
}
.strong-alco-title {
    font-family: 'Karla-Bold', serif;
    font-size: 40px !important;
}
.strongalco-modal-backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1040;
}


.strongalco-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;

    height: 450px;
    border-radius: 15px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;
    box-sizing: border-box;
}

/* Вміст модального вікна */
.strongalco-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}


.strongalco-slider-list-container {
    max-height: 300px;
    overflow-y: auto;

    scroll-behavior: smooth; /* Smooth scrolling behavior */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Стиль кнопки "Save" */
.strongalco-btn-save {
    background-color: black;
    border: 1px solid #90A4AE;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    width: 40%;
    max-width: 300px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.strongalco-btn-save:hover {
    background-color: black;
    border-color: #78909C;
}


@media (max-width: 768px) {
    .strongalco-modal-container {
        width: 80%;
        max-width: 100%;
    }
}


@media (max-width: 576px) {
    .strongalco-modal-container {
        width: 80%;
        max-width: 100%;
    }
}
