/* Заблюрений фон */
@font-face {
    font-family: 'Karla-Bold';
    src: url('../../../assets/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
}
.strong-alco-title {
    font-family: 'Karla-Bold', serif;
    font-size: 40px !important; /* За замовчуванням */
}
.strongalco-modal-backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1040;
}

/* Стиль модального контейнера */
.strongalco-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    /*max-width: 100%; !* Максимальна ширина не більше 100% екрана *!*/
    height: 450px;
    border-radius: 15px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*max-height: 80vh; !* Максимальна висота для модального вікна *!*/
    overflow: hidden;
    box-sizing: border-box; /* Враховує padding та border у ширину */
}

/* Вміст модального вікна */
.strongalco-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Враховує padding у ширину */
}

/* Прокручуваний список слайдерів */
.strongalco-slider-list-container {
    max-height: 300px; /* Максимальна висота для списку слайдерів */
    overflow-y: auto; /* Додаємо вертикальну прокрутку */
    width: 100%; /* Ширина списку на всю модаль */
    padding: 0 15px; /* Додаємо padding для уникнення обрізання тексту */
    box-sizing: border-box; /* Враховує padding у ширину */
}

/* Стиль кнопки "Save" */
.strongalco-btn-save {
    background-color: black; /* Колір Fill (#D5D5D5) з 86% прозорістю */
    border: 1px solid #90A4AE; /* Колір Stroke (#90A4AE) */
    border-radius: 50px; /* Заокруглені краї */
    padding: 15px 30px; /* Великі розміри кнопки */
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    width: 40%; /* Ширина на 100% контейнера */
    max-width: 300px; /* Максимальна ширина */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Ефект плавного переходу */
}

.strongalco-btn-save:hover {
    background-color: black; /* Трохи темніший сірий колір при наведенні */
    border-color: #78909C; /* Трохи темніший колір Stroke при наведенні */
}

/* Медіа-запит для екранів до 768px (планшети) */
@media (max-width: 768px) {
    .strongalco-modal-container {
        width: 80%;
        max-width: 100%;
    }
}

/* Медіа-запит для екранів до 576px (смартфони) */
@media (max-width: 576px) {
    .strongalco-modal-container {
        width: 80%;
        max-width: 100%;
    }
}
