.modal {
    z-index: 1050; /* Bootstrap's default z-index for modals */
}

.modal-backdrop {
    z-index: 1040; /* Bootstrap's default z-index for backdrops */
}
/* Ensure your custom CSS is loaded after all other stylesheets */
.rs-picker-dropdown {
    z-index: 2000 !important; /* Ensure it is above the modal */
}

/* Background blur effect */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    z-index: 1040; /* Set a higher z-index if necessary */
}

/* Ensure that the modal itself is above the blurred backdrop */
.rs-modal-content{
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../assets/createpopup.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    scrollbar-width: none; /* Removes scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer */
}
.rs-modal-body{
    scrollbar-width: none; /* Removes scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer */
}
.modal-title-bold-create {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.modal-body-scroll-create-party {
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */

}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
.modal-body-scroll-create-party::-webkit-scrollbar {
    display: none;

    background: rgba(79, 40, 233, 0.5);
}

