.modal {
    z-index: 1050; /* Bootstrap's default z-index for modals */
}

.modal-backdrop {
    z-index: 1040; /* Bootstrap's default z-index for backdrops */
}
/* Ensure your custom CSS is loaded after all other stylesheets */
.rs-picker-dropdown {
    z-index: 2000 !important; /* Ensure it is above the modal */
}

