.modal {
    z-index: 1050; /* Bootstrap's default z-index for modals */
}

.modal-backdrop {
    z-index: 1040; /* Bootstrap's default z-index for backdrops */
}
/* Ensure your custom CSS is loaded after all other stylesheets */
.rs-picker-dropdown {
    z-index: 2000 !important; /* Ensure it is above the modal */
}

/* Background blur effect */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    z-index: 1040; /* Set a higher z-index if necessary */
}

/* Ensure that the modal itself is above the blurred backdrop */
.rs-modal-content {
    background: rgba(255, 255, 255, 0);
    background-image: url("../../assets/popupBack.svg");
    background-size: auto; /* Забезпечує повне покриття фону */
    background-repeat: no-repeat; /* Запобігає повторенню фону */
    background-position: center; /* Центрує фон */
    border-radius: 10px; /* Додає закруглені кути, якщо необхідно */
    backdrop-filter: blur(20px);
}
.modal-title-bold-create {
    font-weight: bold; /* Робить текст жирним */
    font-size: 1.5rem; /* За потреби можна збільшити розмір */
    margin-bottom: 8px;
}

