.full-height-welcome {
    min-height: 110vh;
    /* Додаємо горизонтальне вирівнювання */
}

.party-icon-welcome {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -2px;
    left: -198px;
    z-index: 1000;
}

.container-fluid-welcome {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Сместить к нижней границе экрана */
    min-height: 100vh; /* Покрыть 100% высоты экрана */
    background-position: center bottom; /* Фон начинается с нижней границы */
}

.square-container-welcome {
    position: relative;
    width: 100%;
    height: 80%;
    max-width: 1000px;
    /*max-height: 1;*/
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
}

@font-face {
    font-family: 'Halant-Bold';
    src: url('../../assets/fonts/halant/Halant-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Halant-SemiBold';
    src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('../../assets/fonts/VT323-Regular.ttf') format('truetype');
}

/*h1 {*/
/*    font-family: 'Halant-Bold', sans-serif;*/
/*}*/

.party-icon-welcome {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -212px;
    left: 2px;
    z-index: 1000;
}

.welcome-to-party {
    font-family: 'Halant-SemiBold', sans-serif;
    font-size: 20px;
    width: 80%;
    color: #000000;
}

.home-text-welcome {
    font-family: 'Halant', sans-serif; /* Fallback to sans-serif */
    font-size: 27px; /* Set font size to 27 pixels */
    margin-left: 13px; /* Set left margin for spacing */
    position: absolute;
    top: -195px;
    left: 904px;
    color: black; /* Text color */
}

.home-link-welcome {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically center the items */
    padding: 2px; /* Add padding for spacing */
    margin-bottom: -20px; /* Move the link upwards */
}

.home-icon-welcome {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -200px;
    left: 870px;

}

.text-center-welcome {
    font-family: 'Halant', serif;
    font-size: 20px !important; /* За замовчуванням */

}

@media (min-width: 768px) {
    .text-center-welcome {
        font-size: 40px !important; /* Для комп'ютерів */
        color: #000000;
    }
}