
@font-face {
    font-family: 'Karla-Bold';
    src: url('../../../assets/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
}
.mid-alco-title {
    font-family: 'Karla-Bold', serif;
    font-size: 40px !important;
}
.midalco-modal-backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1040;
}


.midalco-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 367px;

    border-radius: 15px;
    z-index: 1050;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.midalco-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.midalco-btn-save {
    background-color: black;
    border: 1px solid #90A4AE;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    max-width: 300px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.midalco-btn-save:hover {
    background-color: black;
    border-color: #78909C;
}

@media (max-width: 768px) {
    .midalco-modal-container {
        width: 80%;
    }
}


@media (max-width: 576px) {
    .midalco-modal-container {
        width: 80%;
    }
}