/* Заблюрений фон */
.liquor-modal-backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1040;
}

/* Стиль модального контейнера */
.liquor-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 367px;
    /*background-color: white;*/
    border-radius: 15px;
    z-index: 1050;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центр по вертикалі */
    align-items: center; /* Центр по горизонталі */
    text-align: center; /* Текст теж по центру */
}

/* Вміст модального вікна */
.liquor-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрування елементів */
    align-items: center; /* Центрування по горизонталі */
    width: 100%;
}
.liquor-btn-save {
    background-color: #D5D5D5; /* Світло-сірий колір */
    border: none;
    border-radius: 50px; /* Заокруглені краї */
    padding: 15px 30px; /* Великі розміри кнопки */
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    width: 60%; /* Ширина на 100% контейнера */
    max-width: 300px; /* Максимальна ширина */
    transition: background-color 0.3s ease; /* Ефект переходу */
}

.liquor-btn-save:hover {
    background-color: #BEBEBE; /* Зміна кольору при наведенні */
}

@media (max-width: 768px) {
    .liquor-modal-container {
        width: 80%; /* Зменшена ширина для планшетів */
    }
}

/* Медіа-запит для екранів шириною до 576px (типові смартфони) */
@media (max-width: 576px) {
    .liquor-modal-container {
        width: 80%; /* Майже повна ширина для мобільних пристроїв */
    }
}