

.full-height-login {
    min-height: 100vh;
    /* Додаємо горизонтальне вирівнювання */
}

.container-fluid-login {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Сместить к нижней границе экрана */
    min-height: 100vh; /* Покрыть 100% высоты экрана */
    background-position: center bottom; /* Фон начинается с нижней границы */
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('../../assets/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla-Regular';
    src: url('../../assets/fonts/Karla/static/Karla-Regular.ttf') format('truetype');
}

h1.card-title-login {
    font-family: 'Karla-Bold', sans-serif;
    font-size: 32px;
    color: #263238; /* Apply the color */
    margin-bottom: 16px; /* Keep the margin for spacing */
    text-align: center; /* Keep the text centered */
    white-space: nowrap;
}

.UsernamePassword-login {
    font-family: 'Karla-Bold', sans-serif; /* Use the Halant-Bold font */
    font-size: 16px;
    color: #263238; /* Apply the color */
    margin-bottom: 4px; /* Keep the margin for spacing */
    text-align: center; /* Keep the text centered */
    white-space: nowrap;
}



.party-icon-login {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -33px;
    left: 2px;
    z-index: 1000;
}

.sign-in-card {
    background-image: url('../../assets/signIn_card.svg'); /* путь к изображению */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 600px;
    height: 700px;
    display: flex;
    justify-content: center; /* Центровка содержимого внутри карточки */
    align-items: center;     /* Центровка по оси Y внутри карточки */
    padding: 30px;
    box-sizing: border-box;

    /* Сдвиг карточки вверх */
    position: relative;
    top: -20px; /* поднимет карточку чуть выше */
}

.square-container-login {
    position: relative;
    width: 100%;
    height: 80%;
    max-width: 1000px;
    /*max-height: 1;*/
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
}


.custom-input-login {
    border-radius: 20px !important; /* Закругленные края */
    border: 1px solid #90A4AE; /* Внутренняя обводка */
    padding: 10px 15px; /* Отступы внутри поля для комфорта */
    font-size: 16px; /* Размер текста */
    box-sizing: border-box; /* Включаем внутренние отступы в расчет ширины */
    width: 500px;
}

.custom-input-login:focus {
    border-color: #90A4AE; /* Оставляем обводку при фокусе */
    outline: none; /* Убираем стандартное выделение при фокусе */
}

.custom-input-login::placeholder {
    color: #90A4AE; /* Цвет текста placeholder */
    font-family: 'Karla-Regular', sans-serif; /* Устанавливаем шрифт для placeholder */
}

.is-invalid-login {
    border-color: #ff6c6c; /* Красная обводка, если есть ошибка */
}

.invalid-feedback-login {
    color: #ff6c6c;
    font-size: 14px;
}

.forgot-link-login {
    font-family: 'Karla-Bold', sans-serif; /* Устанавливаем шрифт Karla-Bold */
    color: white; /* Цвет текста белый */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Эффект drop shadow */
    text-decoration: none; /* Убираем подчеркивание, если необходимо */
}

.confirm-button-login {
    background-color: black; /* Черный цвет фона */
    border: 1px solid #50C5FF; /* Обводка 1 пиксель цвета 50C5FF */
    border-radius: 20px; /* Закругленные углы */
    width: 470px; /* Уменьшенная ширина */
    padding: 10px; /* Отступы внутри кнопки для удобства */
    color: white; /* Цвет текста белый */
    font-family: 'Karla-Bold', sans-serif; /* Устанавливаем шрифт Karla-Bold */
    font-size: 20px; /* Размер текста */
    transition: background-color 0.3s ease; /* Плавный переход для цвета фона */
    display: block; /* Делаем кнопку блочным элементом */
    margin: 0 auto; /* Центрируем кнопку */
}

.confirm-button-login:hover {
    background-color: #333; /* Изменение цвета при наведении, например, темно-серый */
}

.text-dont-login {
    font-family: 'Karla-Bold', sans-serif; /* Устанавливаем шрифт Karla-Bold */
    color: #263238; /* Цвет текста для "Don't have an account yet?" */
}

.text-signup-login {
    font-family: 'Karla-Bold', sans-serif; /* Устанавливаем шрифт Karla-Bold */
    color: white; /* Цвет текста белый */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}