@font-face {
    font-family: 'Halant Medium';
    src: url('../../assets/fonts/halant/Halant-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


.party-header {
    
    color: #000000;
    font-family: 'Halant Medium';
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}


.scroll-container {
    width: 100%;

    max-height: 190px;
    overflow-y: auto;

    scroll-behavior: smooth; /* Corrected syntax for scroll behavior */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    /*padding: 10px;*/
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



