
/*fonts*/
@font-face {
    font-family: 'Karla-Bold';
    src: url('../../assets/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
}



@font-face {
    font-family: 'Karla-Regular';
    src: url('../../assets/fonts/Karla/static/Karla-Regular.ttf') format('truetype');
}
/*fonts*/

body, html {
    overflow: hidden;
    height: 100%;
}

.square-container-editprofile {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 1900px;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
}

.container-fluid-editprofile {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background-position: center bottom;
    background-attachment: fixed;
}

.full-height-editprofile {
    min-height: 100vh;

}

.party-icon-editprofile {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -2px;
    left: -198px;
    z-index: 1000;
}

.card-editprofile {
    background-image: url('../../assets/signUp_card.svg');
    background-size: cover; /* Scale the background to fit the container */
    background-position: center; /* Keep the image centered */
    word-wrap: break-word; /* Ensure text doesn't overflow */
    background-repeat: no-repeat;
    border: 3px solid rgba(79, 40, 233, 0.5); /* First semi-transparent blue border */
    border-radius: 10px; /* Rounded corners */
    backdrop-filter: blur(20px); /* Optional: Adds a frosted-glass blur effect */
    max-height: 100vh;
    width: 100%;
    max-width: 600px;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    border-radius: 10px;
    transform: translate(-100px, -50px);
}

.card-editprofile .react-datepicker__triangle {
    display: none;
}

/*card body*/
h1.card-title-editprofile {
    font-family: 'Karla-Bold', sans-serif;
    font-size: 40px;
    color: #263238;
    margin-bottom: 16px;
    text-align: center;
    white-space: nowrap;
}

.input_titles-editprofile {
    font-family: 'Karla-Bold', sans-serif;
    font-size: 16px;
    color: #263238;
    margin-bottom: 4px;
    text-align: center;
    white-space: nowrap;
}

.custom-input-editprofile {
    border-radius: 20px !important;
    border: 1px solid #90A4AE;
    padding: 10px 15px;
    font-size: 16px;
    box-sizing: border-box;
    width: 480px;
    margin: 0 auto;
}
.custom-input-editprofile:focus {
    border-color: #90A4AE;
    outline: none;
}

.custom-input-editprofile::placeholder {
    color: #90A4AE;
    font-family: 'Karla-Regular', sans-serif;
}

.is-invalid-editprofile {
    border-color: #ff6c6c;
}

.invalid-feedback-editprofile {
    color: #ff6c6c;
    font-size: 14px;
}


.text-alrdy-editprofile {
    font-family: 'Karla-Bold', sans-serif;
    color: #263238;
}



.confirm-button-editprofile {
    background-color: black;
    border: 1px solid #50C5FF;
    border-radius: 20px;
    width: 470px;
    padding: 10px;
    color: white;
    font-family: 'Karla-Bold', sans-serif;
    font-size: 20px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.confirm-button-editprofile:hover {
    background-color: #333;
}


.gender-select-option-editprofile {
    color: #90A4AE;
    font-family: 'Karla-Regular', sans-serif;
}

.gender-select-option-editprofile-bold {
    color: #263238;
    font-family: 'Karla-Bold', sans-serif;
}


.gender-select-option-editprofile:hover {
    color: #263238;
}

.editprofile-save-btn {
    /*position: absolute;*/
    top: 1178px;
    left: 225px;
    width: 150px;
    height: 40px;
    margin: 20px auto 0;
    display: block;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-family: 'Halant', serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editprofile-logout-btn {
    /*position: absolute;*/
    top: 1177px;
    left: 400px;
    width: 150px;
    height: 40px;
    margin: 20px auto 0;
    display: block;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-family: 'Halant', serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.editprofile-deleteaccount-btn{
    top: 1177px;
    left: 575px;
    width: 150px;
    height: 40px;
    margin: 20px auto 0;
    display: block;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-family: 'Halant', serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.clear-icon-editprof {
    width: 15px; /* Adjust to fit the design */
    height: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    top: -1px;
    left: -340px;
}

.clear-icon-editprof:hover {
    filter: brightness(0.8); /* Darken the icon on hover */
}

