@font-face {

    font-family: 'HalantSemiBold';
    src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
}
.square-container-profile {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 1900px;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
}
.modal-backdrop-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Напівпрозорий фон для ефекту "заморожування" */
    backdrop-filter: blur(20px); /* Застосування більшого значення розмиття */
    z-index: 1040; /* Робимо так, щоб було позаду модального вікна */
}
.container-fluid-profile {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Смещаем карточку к нижней границе */
    min-height: 100vh;
    background-position: center bottom;
    background-attachment: fixed; /* Фиксируем фон */
}
@font-face {

    font-family: 'HalantSemiBold';
    src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
}

.profile-alco-header {
    margin-top: 20px;
    font-family: 'HalantSemiBold';
    text-align: center;
}

.full-height-profile {
    min-height: 100vh;
    z-index: 1;
     /* Додаємо горизонтальне вирівнювання */
}



.party-icon-profile {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -2px;
    left: -198px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .background-video-profile, .background-video_r-profile {
        position: static;
        width: 100%;
        height: 0;
    }
}



