.select-slider-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3); /* White background with 80% opacity */
    border-radius: 25px;
    padding: 7px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    width: 100%;
}


.select-alcohol-slider-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust spacing as needed */
}

.select-alcohol-slider-image {
    width: 28px; /* Set the width of the image */
    height: 28px; /* Set the height of the image */
    margin-right: 10px; /* Space between the image and the label */
}

.select-alcohol-slider-label {
    margin-right: 48px;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 40px;
    text-align: center; /* Align text to center */
}

.select-alcohol-slider-range {
    -webkit-appearance: none;
    width: 75%;
    height: 8px;
    background: linear-gradient(
            to right,
            #007bff 0%,
            #007bff calc(var(--value, 0) * 100%),
            #ddd calc(var(--value, 0) * 10%),
            #ddd 100%
    ); /* Blue range up to the value and gray afterward */
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: all 0.3s ease;
    --value: 0; /* Default value */
}

.select-alcohol-slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--thumb-color, gray); /* Dynamically set the thumb color */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@font-face {
    font-family: 'Halant';
    src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

.select-alcohol-slider-value {
    font-size: 18px; /* Розмір шрифту */
    margin-left: auto;
    font-family: 'Halant', serif; /* Використання шрифту Halant */
    font-weight: 600; /* Напівжирний (SemiBold) */
}
