/* Import Halant font */
@font-face {
    font-family: 'Halant';
    src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
}

/* Apply font to the button text */
.menu-button span {
    font-family: 'Halant', serif;
}




/* Desktop and tablet styling */
@media (min-width: 768px) {
    .menu-button {
        opacity: 0.9;
    }

    .menu-button:hover {
        opacity: 1;
        transform: scale(1.03);
    }
}

/* Mobile styling */
@media (max-width: 767px) {
    .menu-button {
        /* Remove opacity on mobile devices */
        opacity: 1;
        /*font-size: 14px;*/
    }
}

