.alco-container {
    margin-top: 10px;
    width: 80%;
}

.alco-row {
    width: 100%;
}

.choose-alco-button {
    margin-top: 1px;
    height: 90px;
    width: 160px;
    background-image: url("/app/src/assets/alcobuttonpopupBack.svg");

    max-width: none;
    text-align: center;

    font-size: 20px;
}
.alco-button-list {
    display: flex;

    justify-content: center;
    gap: 40px;

}

.alco-button-wrapper {
    flex: 0 1 auto;
    text-align: center;
}
.choose-alco-button img {
    margin-right: 0px;
}

.choose-alco-button-text {
    display: inline-block;
    vertical-align: middle;
}
