.alco-container {
    margin-top: 10px;
    width: 100%; /* Займає всю ширину екрану */
}

.alco-row {
    width: 100%; /* Рядок також має займати всю ширину */
}

.choose-alco-button {
    margin-top: 1px;
    width: 80%; /* Кнопка займає всю ширину батьківського контейнера */
    max-width: none; /* Відміна обмеження на максимальну ширину */
    text-align: center;
    padding: 10px; /* Збільшення відступів для кращого вигляду */
    font-size: 20px; /* Збільшення розміру тексту */
}

.choose-alco-button img {
    margin-right: 10px; /* Відступ між іконкою і текстом */
}

.choose-alco-button-text {
    display: inline-block;
    vertical-align: middle;
}
