

.full-height-home {
    min-height: 120vh;
    /* Додаємо горизонтальне вирівнювання */
}

.square-container-home {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
    padding-top: 50px; /* Уменьшаем расстояние сверху */
}
.custom-heading-home {
    text-align: center;
    font-family: 'Halant', serif;
    width: 100%;
}

.centered-container-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Переносим вверх */
    align-items: center;
    width: 70%;

}

@font-face {
    font-family: 'JejuHallasan';
    src: url('../../assets/fonts/JejuHallasan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Halant';
    src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
}

.logo-container {
    position: relative;
    top: -20px; /* Сдвигаем вверх */
    left: 20px; /* Сдвигаем вправо */
}

.logo-text {
    position: relative;
    top: -10px; /* Поднимаем текст */
    left: -90px; /* Сдвигаем текст ближе к логотипу */
    font-family: 'JejuHallasan', sans-serif;
    color: black;
    font-size: 13px;
    line-height: 1;
}

.info-logo {
    position: absolute;
    top: -130px;
    left: 860px;
    width: 120px;
    height: 120px;
}

.home-about{
    font-family: 'Halant', sans-serif;
    font-size: 28px;
}

.custom-heading-home {
    font-family: 'Halant', serif;
    font-size: 25px !important; /* За замовчуванням */
}

@media (min-width: 768px) {
    .custom-heading-home {
        font-size: 36px !important; /* Для комп'ютерів */
    }
}

.container-fluid-home {
    display: flex;
    justify-content: flex-start; /* Поднимаем содержимое наверх */
    align-items: center; /* Центрируем по горизонтали */
    min-height: 100vh;
    background-position: center bottom;
}
.party-icon-home {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -115px;
    left: 0px;
    z-index: 1000;
}

.custom-heading-home {
    font-family: 'Halant', serif;
    font-size: 36px; /* Размер текста */
    text-align: center;
    color: black;
    margin: 0;
}

.centered-container-home img {
    width: 40px; /* Размер иконки */
    height: 40px;
    margin-left: 10px; /* Отступ между текстом и иконкой */
}

/* button create */


