
    @font-face {
        font-family: 'Halant';
        src: url('../../assets/fonts/halant/Halant-SemiBold.ttf') format('truetype');
    }

    .custom-font {
        font-family: 'Halant', serif;
    }

